<% provide(:title, @user.name_user) %>
<title><%= yield(:title) %></title>

<p align="justify">
	<div style="padding-left: 50px; border:1px solid #999; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; min-height:20px; padding:19px;">
		<h2>
		<font face="verdana" color="gray">Nome:</font> <span style="padding-left: 11px;"><%= @user.name_user %></br></span>
		<font face="verdana" color="gray">Estado:</font> <%= @user.address_user %></br>
		<font face="verdana" color="gray">E-Mail:</font> <span style="padding-left: 10px;"><%= @user.email_user %></br></span>
		<font face="verdana" color="gray">ID:</font> <span style="padding-left: 62px;"> <%= @user.id %></br></span>
		</h2>
	</div>	
	<h1>
	<% if current_user == @user %>
    	<div class="span1"  style="position: absolute">
    	<%= button_to "Editar", edit_user_path, :class => "btn btn-large btn-primary", :method => :get %>
    	</div>
    	<div class="span1"  style="padding-left: 70px;">
    	<%= button_to "Deletar", user_path, :class => "btn btn-large btn-primary", :method => :delete, data: { confirm: "Você tem certeza?"} %>
    	</div>
	<% end %>
	</h1>
</p> 
