<h1>Nome: <%= @user.name_user %></br>
Endereço: <%= @user.adress_user %></br>
ID: <%= @user.id %></br>
<%= link_to "Editar Dados", "/users/"+@user.id.to_s+"/edit" %>
</h1>

<h1>
	<%= link_to "Deletar Conta", @user.id.to_s, method: :delete, data: { confirm: "Você tem certeza?" } %>
</h1>