<center>
	<h1>Ranking</h1>
</center>

<%= render 'layouts/searcher' %>

<center>
	<div class="span8">
		<% @unity_procons.each do |un| %>
		    <h5>
		      	<table border="1" style="width:100%">
			      	<tr>
				        <td>Posição: <%= un.position_unity_procon %></td>
				        <td> id: <%= link_to un.id, '/unity_procons/'+un.id.to_s %></td>
				        <td>UF: <%= un.uf_procon %> </td>
				        <td> Telefone: <%= un.list_phones %> </td>
				        <td>Email: <%= un.email_unity_procon %></td>
			        </tr>
				</table>
			</h5>	
		<% end %>
	</div>
</center>


