<div>
	<center>
		<h1>Ranking</h1>
	</center>
		<center>
				<table class="table table-striped" id="ranking">
					<thead>
						<tr>
						    <th>Posição</th>
						    <th>ID</th> 
						    <th>UF</th>
						    <th>Telefone</th>
						    <th>Email</th> 
						    <th colspan = "3"></th>
					  	</tr>
					</thead>
					<tbody>
					<% @unity_procons.each do |un| %>
						<tr>
					      <h6>
					        <td><%= un.position_unity_procon %></td>
					        <td><%= link_to un.id, '/unity_procons/'+un.id.to_s %></td>
					        <td><%= un.uf_procon %></td>
					        <td><%= un.list_phones %></td>
					        <td><%= un.email_unity_procon %></td>
					      </h6>
			            </tr>
				<% end %>
				</tbody>
			</table>
		</center>
</div>


