<center><h1> Unidade do Procon de id <%= @unity_procon.id %> </h1></center>
<% a = @unity_procon %><h5>

<table border="1" style="width:100%">
<tr>
<td>Endereço: <%= a.address_unity_procon %></td>
<td>Coordenador: <%= a.name_coordinator_unity_procon %></td>
<td>UF: <%= a.uf_procon %></td>
<td>email: <%= a.email_unity_procon %></td>
</tr>
</table>
</h5>
<center>
