
<%#include Rating 
   não precisa dessa inclusão
%>
 
	<% provide(:title, "Unidade do Procon") %>
	<title><%= yield(:title) %></title>

	<% a = @unity_procon %>
	<center>
	<h1>Unidade do Procon <%= @unity_procon.id %>:</h1></br>
	</center>
	<div class="container-fluid">
		<div class="row-fluid">

			<div class="span8">
				<body style= "width:1200px">
					<font face="verdana" color="gray">
						Endereço:
					</font>
					<div align="justify">
						<%= a.address_unity_procon %>
					</div></br>
					<font face="verdana" color="gray">
						Coordenador:
					</font>
					<div align="justify">
						<%= a.name_coordinator_unity_procon %>
					</div></br>
					<font face="verdana" color="gray">
						UF:
					</font>
					<div align="justify">
						<%= a.uf_procon %>
					</div></br>
					<font face="verdana" color="gray">
						Email:
					</font>
					<div>
						 <% a.ratings.each do |rating| %>
						 <%= rating.descripion_rating %>
					<% end %>
					</div>
					<div align="justify">
						<%= a.email_unity_procon %>
					</div></br>
					</h5>
				</body>
				<left>
			</div>

	<%= form_for @rating, :url => {:controller => "unity_procons" , :action => "add_rating",  :unity_procon_id => @unity_procon.id, :rating_id => @rating.id} do |f| %>

			<div class="span4">

				<center>
					<body style= "width:1200px">
						<h2>Avalie essa unidade!</h2>

						<label>
							<input type="radio"  class="search_type" name="search_type" value="POSITIVO" checked="checked" /> +
						</label>
						
						<label>
							<input type="radio"  class="search_type" "glyphicon glyphicon-minus" name="search_type" value="NEGATIVO" checked="checked" /> -
						</label>
						<br>

						  <%= f.label :description_rating, "Descrição" %>
						  <%= f.text_area :description_rating,  class: "form-control", id: "Descricao_rating", rows: "3" %>

						 <%= f.submit "Avaliar" %>

					</body>
				</center>
			</div>
		<% end %>
		</div>
	</div>

	<style>
	.btn 
	{
	   -webkit-border-radius: 20px;
	   -moz-border-radius: 20px;
	   border-radius: 20px;
	}
	</style>
	
