<center>
	<h1>Lista de Atendimentos</h1>
</center>
<%= render 'layouts/searcher' %>
<div class="span8">
<center>
<%= will_paginate %>
<% @customer_services.each do |cs| %>
			<table border="1" style="width:100%">
	      <tr>
	      <h6>
	        <td>Ano: <%= cs.year_customer_service %></td>
	        <td>UF:<%= cs.uf_customer_service %></td>
	        <td>ID:<%= link_to cs.id, '/customer_services/'+cs.id.to_s %>
	        <td>Descr: <%= cs.description_problem_customer_service %></td>
	       </br>
	      </h6>
	<% end %>
<%= will_paginate %>
</center>
</div>