<% provide(:title, "Atendimentos") %>
<%= render 'layouts/searcher' %>
<center>
	<h1>Lista de Atendimentos</h1>
	<div class="span8">
		<%= will_paginate %>
			<table class="table table-striped" id="customer_services">
				<thead>
					<tr>
					    <th>Ano</th>
					    <th>UF</th> 
					    <th>ID</th>
					    <th>Descrição</th>
					    <th colspan = "3"></th>
				  	</tr>
				</thead>
				<tbody>
					<% @customer_services.each do |cs| %>
			  		<tr>
				  		<h6>
				        <td><%= cs.year_customer_service %></td>
				        <td><%= cs.uf_customer_service %></td>
				        <td><%= link_to cs.id, '/customer_services/'+cs.id.to_s %></td>
				        <td><%= cs.description_problem_customer_service %></td>
		      	  </h6>
		       	</tr>
					<% end %>
				</tbody>
			</table>
			<center>
				<%= will_paginate %>
			</center>
		</center>
	</div>
</div>
