<center><h1> Reclamação Index </h1>
<% a = @customer_service %><h5>
ID Reclamação: <%= a.id %>, ID da Empresa: <%= a.supplier_id %>, Código do problema: <%= a.code_problem_customer_service %></br>
Ano: <%= a.year_customer_service %>
Região: <%= a.region_customer_service %>, UF: <%= a.uf_customer_service %></br>
Descrição: <%= a.description_problem_customer_service %>, Cep da empresa: <%= a.cep_customer_service %>
</h5>
</center>