<div class="container" style="padding-left: 6	0px;">
<% provide(:title, "Atendimento "+@customer_service.id.to_s ) %>
<title><%= yield(:title) %></title>

<% a = @customer_service %>
<h1>
<div align="center">
	<font  face="verdana" color="gray">
		Atendimento <%= a.id %><br>
	</font>
</div>
</h1>
<right>
	<h3>
	<div align="justify">
		<font face="verdana" color="gray">
			ID Customer Service: 
		</font>
		<%= a.id %></br></br>
	</div>

	<div align="justify">
		<font face="verdana" color="gray">
			ID Supplier: 
		</font>
		<%= a.supplier_id %></br></br>
	</div>

	<div align="justify">
		<font face="verdana" color="gray">
			Código do problema: 
		</font>
		<%= a.code_problem_customer_service %></br></br>
	</div>

	<div align="justify">
		<font face="verdana" color="gray">
			Descrição: 
		</font>
		<%= a.description_problem_customer_service %></br></br>
	</div>

	<div align="justify">
		<font face="verdana" color="gray">
			Ano: 
		</font>
		<%= a.year_customer_service %></br></br>
	</div>

	<div align="justify">
		<font face="verdana" color="gray">
			Região: 
		</font>
		<%= a.region_customer_service %></br></br>
	</div>

	<div align="justify">
		<font face="verdana" color="gray">
			UF: 
		</font>
		<%= a.uf_customer_service %></br></br>
	</div>

	<div align="justify">
		<font face="verdana" color="gray">
			CEP empresa: 
		</font>
		<%= a.cep_customer_service%></br></br>
	</div>
	</h3>
</right>
</div>
