<center><h1> Supplier <%= @supplier.fantasy_name_supplier %> </h1></center>
<right>
<% a = @supplier %><h5>
ID Reclamação: <%= a.id %>
Tipo de supplier: <%= a.type_supplier %></br>
Razão social: <%= a.social_reason_supplier %></br>
CNPJ: <%= a.cnpj %></br>
CNAEP:<%= a.cnaep_main_code_supplier %> </br>
Descrição: <%= a.description_cnaep_code_supplier %></br>

</h5>
</right>