<% provide(:title, @supplier.fantasy_name_supplier) %>
<title><%= yield(:title) %></title>
<div class="center jumbotron">
<center><font face="Architect" color="#FFCC66"><h1><%= @supplier.fantasy_name_supplier %> </h1></font></center></br>
	<div align="left">
	<% a = @supplier %><h5>
		<h3>
		ID Fornecedor: <%= a.id %></br></br>
		Tipo de Fornecedor: <%= a.type_supplier %></br></br>
		Razão Social: <%= a.social_reason_supplier %></br></br>
		CNPJ: <%= a.cnpj %></br></br>
		CNAEP: <%= a.cnaep_main_code_supplier %></br></br>
		Descrição: <%= a.description_cnaep_code_supplier %></br></br>
            </h3>
</div>
