<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#"><img src="/assets/PROCONSULTA.png"></a>
        <ul class="nav pull-right">
		<li><%= link_to "Home", root_path%></li>  
		<li><%= link_to "Legislação"%></li>
		<li><%= link_to "Procons" %></li>
    <li id="fat-menu" class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Atendimentos <b class="caret"></b>
      </a>
      <ul class="dropdown-menu"> 
        <li><%= link_to "Atendimento ao Cliente", '/customer_services' %></li>
      </ul>
    </li>
		<li><%= link_to "Fornecedores" %></li>

          <% if signed_in? %>
            <li><%= link_to "Usuários", '/allusers' %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= current_user.name_user %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Conta", current_user %></li>
                <li><%= link_to "Editar", '/users/'+current_user.id.to_s+'/edit' %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Deslogar", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Logar", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>