<!-- _searcher for customer_service -->
<% if yield(:title) == "Atendimentos" %>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span4">
			<h3>BUSCAR</h3>
			<span style="color:#FFA500">
			<%= search_form_for @search do |f| %>
				<div class="field">
					<%= f.label :id , "ID" %>
					<%= f.text_field :id %>
				</div>
				<div class="field">
					<%= f.label :year_customer_service_cont, "Ano" %>
					<%= f.text_field :year_customer_service_cont %>
				</div>
				<div class="field">
					<%= f.label :description_customer_service_cont, "Descrição contém" %>
					<%= f.text_field :description_customer_service_cont %>
				</div>
				<div class="field">
					<%= f.label :region_customer_service_cont, "Região" %>
					<%= f.text_field :region_customer_service_cont %>
				</div>
				<div class="field">
					<%= f.label :uf_customer_service_cont, "UF" %>
					<%= f.text_field :uf_customer_service_cont %>
				</div>
				<div class="actions">
					<%= f.submit "Pesquisar" %>
				</div>
				<% end %>
			</span>
		</div>
	<% end %>
<!-- end _searcher for customer_service -->

<!-- _searcher for unity_procon -->
<% if yield(:title) == "Procons" %>
	<div>

		<div class="container-fluid">
	<div class="row-fluid">
	<div class="span4">

			<h3>BUSCAR</br></h3>
			<span style="color:#FFA500">
			<b> Busca Textual </b><br>

				<% # = form_tag('/customer_services/', method: :get) %>
				<% # input type="text" name=idteste> %>
				<% # = submit_tag "Pesquisar", class:"form_submit" %>

			<select name="estados" id="unity_uf">
				<option value="" selected>Estado
				<option value="AC">AC
				<option value="AL">AL
				<option value="AM">AM
				<option value="BA">BA
				<option value="CE">CE
				<option value="DF">DF
				<option value="ES">ES
				<option value="GO">GO
				<option value="MA">MA
				<option value="MG">MG
				<option value="MS">MS
				<option value="MT">MT
				<option value="PA">PA
				<option value="PB">PB
				<option value="PE">PE
				<option value="PI">PI
				<option value="PR">PR
				<option value="RJ">RJ
				<option value="RN">RN
				<option value="RO">RO
				<option value="RR">RR
				<option value="RS">RS
				<option value="SC">SC
				<option value="SP">SP
				<option value="TO">TO
			</select>

			</span>
				<input type="button" id="unity_search_button" value="Buscar" class="btn btn-primary" />
				<br>
			</form>
		<left>
	</div>
<% end %>

<% if yield(:title) == "Ranking de Procons" %>
	<div>

		<div class="container-fluid">
	<div class="row-fluid">
	<div class="span2">

			<h3>BUSCAR</br></h3>
			<span style="color:#FFA500">
			<b> Busca Textual </b><br>

				<% # = form_tag('/customer_services/', method: :get) %>
				<% # input type="text" name=idteste> %>
				<% # = submit_tag "Pesquisar", class:"form_submit" %>

			<select name="estados" id="unity_uf">
				<option value="" selected>Estado
				<option value="AC">AC
				<option value="AL">AL
				<option value="AM">AM
				<option value="BA">BA
				<option value="CE">CE
				<option value="DF">DF
				<option value="ES">ES
				<option value="GO">GO
				<option value="MA">MA
				<option value="MG">MG
				<option value="MS">MS
				<option value="MT">MT
				<option value="PA">PA
				<option value="PB">PB
				<option value="PE">PE
				<option value="PI">PI
				<option value="PR">PR
				<option value="RJ">RJ
				<option value="RN">RN
				<option value="RO">RO
				<option value="RR">RR
				<option value="RS">RS
				<option value="SC">SC
				<option value="SP">SP
				<option value="TO">TO
			</select>

			</span>
				<br>
				<input type="button" id="ranking_button" value="Buscar" class="btn btn-primary" />
				<br>
			</form>
		<left>
	</div>
<% end %>
<!-- end _searcher for unity_procon -->

<!-- _searcher for suppliers -->
<% if yield(:title) == "Fornecedores" %>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span4">
				<h3>BUSCAR</h3>
				<span style="color:#FFA500">
				<%= search_form_for @search do |f| %>
					<div class="field">
						<%= f.label :fantasy_name_supplier_cont, "Nome contém" %>
						<%= f.text_field :fantasy_name_supplier_cont %>
					</div>
					<div class="field">
						<%= f.label :cnpj_cont, "Cnpj" %>
						<%= f.text_field :cnpj_cont %>
					</div>
					<div class="actions">
						<%= f.submit "Pesquisar" %>
					</div>
				<% end %>
				</span>
			</div>
<% end %>


<!-- end _searcher for supplier -->

<!-- Filter for customer_service -->
<% if yield(:title) == "Gráficos de Atendimentos" %>
	<div class="container-fluid">
	<div class="row-fluid">
	<div class="span4">
		<body style= "width:1200px">
			<h3>BUSCAR POR ESTADO</br></h3>

			<span style="color:#FFA500">
				<b> Tipos de Atendimentos </b><br>

				<select name="atendimentos" id="type_services", style="width: 300px" >
					<option value="0d" selected>----- Selecione uma Opção -----
					<option value="1"> Abertura Direta de Reclamação
					<option value="2"> Atendimento Preliminar
					<option value="3"> Cálculo
					<option value="4"> CIP (Carta de Informações Preliminares)
					<option value="5"> Encaminhamento a Fiscalização
					<option value="6"> Inicial JEC
					<option value="7"> Reclamação de Ofício
					<option value="8"> Simples Consulta
				</select>
			</span>

			<br><br><input type="button" id="service_filter_button" value="Buscar" class="btn btn-primary" />
			<br><br><br><br>
			<div>
				<h3>BUSCAR POR REGIÃO</br></h3>

				<span style="color:#FFA500">
					<b> Tipos de Atendimentos </b><br>

					<select name="atendimentos" id="type_services_region", style="width: 300px" >
						<option value="0" selected>----- Selecione uma Opção -----
						<option value="1"> Abertura Direta de Reclamação
						<option value="2"> Atendimento Preliminar
						<option value="3"> Cálculo
						<option value="4"> CIP (Carta de Informações Preliminares)
						<option value="5"> Encaminhamento a Fiscalização
						<option value="6"> Inicial JEC
						<option value="7"> Reclamação de Ofício
						<option value="8"> Simples Consulta
					</select>
				</span>

				<br><br><input type="button" id="service_filter_region_button" value="Buscar" class="btn btn-primary" />
			</div>
		</body>
	</div>
<% end %>
<!-- end _Filter for customer_service -->


<!-- Search for cdc -->
<% if yield(:title) == "Legislação" %>

	<div class="container-fluid">
	<div class="row-fluid">

	<div class="span3">
	<body style= "width:1200px">
	    <div class="tree well">
	        <ul>
	            <li>
	                <span><i class="icon-folder-open"></i> Capítulo I</span>
	                <ul>
	                    <li>
	                       <a href="#CapítuloI"><span><i class="icon-leaf"></i> Disposições Gerais</span></a>
	                    </li>
	                </ul>
	            </li>
	            <li>
	                <span><i class="icon-folder-open"></i> Capítulo II</span>
	                <ul>
	                    <li>
	                        <a href="#CapítuloII"><span><i class="icon-leaf"></i> Da Política Nacional de Relações de Consumo</span></a>
	                    </li>
	                </ul>
	            </li>
	            <li>
	                <span><i class="icon-folder-open"></i> Capítulo III</span>
	                <ul>
	                    <li>
	                       <a href="#CapítuloIII"><span><i class="icon-leaf"></i> Dos Direitos Básicos do Consumidor</span></a>
	                    </li>
	                </ul>
	            </li>
	            <li>
	                <span><i class="icon-folder-open"></i> Capítulo IV</span>
	                <ul>
	                    <li>
		                	<span><a href="#CapítuloIV"><i class="icon-plus-sign"></i> Da Qualidade de Produtos e Serviços, da Prevenção e da Reparação dos Danos</span></a>
		                    <ul>
		                        <li>
			                        <span><i class="icon-plus-sign"></i> SEÇÃO I</span>
			                        <ul>
			                        	<li>
					                       <a href="#SeçãoIa"><span><i class="icon-leaf"></i> Da Proteção à Saúde e Segurança</span></a>
					                    </li>
			                        </ul>
                        		</li>
                        		<li>
			                        <span><i class="icon-plus-sign"></i> SEÇÃO II</span>
			                        <ul>
			                        	<li>
					                       <a href="#SeçãoIIa"><span><i class="icon-leaf"></i> Da Responsabilidade pelo Fato do Produto e do Serviço</span></a>
					                    </li>
			                        </ul>
                        		</li>
                        		<li>
			                        <span><i class="icon-plus-sign"></i> SEÇÃO III</span>
			                        <ul>
			                        	<li>
					                       <a href="#SeçãoIIIa"><span><i class="icon-leaf"></i> Da Responsabilidade por Vício do Produto e do Serviço</span></a>
					                    </li>
			                        </ul>
                        		</li>
                        		<li>
			                        <span><i class="icon-plus-sign"></i> SEÇÃO IV</span>
			                        <ul>
			                        	<li>
					                       <a href="#SeçãoIVa"><span><i class="icon-leaf"></i> Da Decadência e da Prescrição</span></a>
					                    </li>
			                        </ul>
                        		</li>
                        		<li>
			                        <span><i class="icon-plus-sign"></i> SEÇÃO V</span>
			                        <ul>
			                        	<li>
					                       <a href="#SeçãoVa"><span><i class="icon-leaf"></i> Da Desconsideração da Personalidade Jurídica</span></a>
					                    </li>
			                        </ul>
			                    </li>
                    		</ul>
                		</li>
	                </ul>
	            </li>
	            <li>
	                <span><i class="icon-folder-open"></i> Capítulo V</span>
	                <ul>
	                    <li>
		                	<span><a href="#CapítuloV"><i class="icon-plus-sign"></i> Das Práticas Comerciais</span></a>
		                    <ul>
		                        <li>
			                        <span><i class="icon-plus-sign"></i> SEÇÃO I</span>
			                        <ul>
			                        	<li>
					                       <a href="#SeçãoIb"><span><i class="icon-leaf"></i> Das Disposições Gerais</span></a>
					                    </li>
			                        </ul>
                        		</li>
                        		<li>
			                        <span><i class="icon-plus-sign"></i> SEÇÃO II</span>
			                        <ul>
			                        	<li>
					                       <a href="#SeçãoIIb"><span><i class="icon-leaf"></i> Da Oferta</span></a>
					                    </li>
			                        </ul>
                        		</li>
                        		<li>
			                        <span><i class="icon-plus-sign"></i> SEÇÃO III</span>
			                        <ul>
			                        	<li>
					                       <a href="#SeçãoIIIb"><span><i class="icon-leaf"></i> Da Publicidade</span></a>
					                    </li>
			                        </ul>
                        		</li>
                        		<li>
			                        <span><i class="icon-plus-sign"></i> SEÇÃO IV</span>
			                        <ul>
			                        	<li>
					                       <a href="#SeçãoIVb"><span><i class="icon-leaf"></i> Das Práticas Abusivas</span></a>
					                    </li>
			                        </ul>
                        		</li>
                        		<li>
			                        <span><i class="icon-plus-sign"></i> SEÇÃO V</span>
			                        <ul>
			                        	<li>
					                       <a href="#SeçãoVb"><span><i class="icon-leaf"></i> Da Cobrança de Dívidas</span></a>
					                    </li>
			                        </ul>
			                    </li>
			                    <li>
			                        <span><i class="icon-plus-sign"></i> SEÇÃO VI</span>
			                        <ul>
			                        	<li>
					                       <a href="#SeçãoVI"><span><i class="icon-leaf"></i> Dos Bancos de Dados e Cadastros de Consumidores</span></a>
					                    </li>
			                        </ul>
			                    </li>
                    		</ul>
                		</li>
	                </ul>
	            </li>
	            <li>
	                <span><i class="icon-folder-open"></i> Capítulo VI</span>
	                <ul>
	                    <li>
		                	<span><a href="#CapítuloVI"><i class="icon-plus-sign"></i> Da Proteção Contratual</span></a>
		                    <ul>
		                        <li>
			                        <span><i class="icon-plus-sign"></i> SEÇÃO I</span>
			                        <ul>
			                        	<li>
					                       <a href="#SeçãoIc"><span><i class="icon-leaf"></i> Disposições Gerais</span></a>
					                    </li>
			                        </ul>
                        		</li>
                        		<li>
			                        <span><i class="icon-plus-sign"></i> SEÇÃO II</span>
			                        <ul>
			                        	<li>
					                       <a href="#SeçãoIIc"><span><i class="icon-leaf"></i> Das Cláusulas Abusivas</span></a>
					                    </li>
			                        </ul>
                        		</li>
                        		<li>
			                        <span><i class="icon-plus-sign"></i> SEÇÃO III</span>
			                        <ul>
			                        	<li>
					                       <a href="#SeçãoIIIc"><span><i class="icon-leaf"></i> Dos Contratos de Adesão</span></a>
					                    </li>
			                        </ul>
                        		</li>
                    		</ul>
                		</li>
	                </ul>
	            </li>
	            <li>
	                <span><i class="icon-folder-open"></i> Capítulo VII</span>
	                <ul>
	                    <li>
		                    <a href="#CapítuloVII"><span><i class="icon-leaf"></i> Das Sanções Administrativas</span></a>
	            		</li>
	            		<li>
	                        <span><i class="icon-plus-sign"></i> TÍTULO II</span>
	                        <ul>
	                        	<li>
			                       <a href="#TítuloII"><span><i class="icon-leaf"></i> Das Infrações Penais</span></a>
			                    </li>
	                        </ul>
	            		</li>
	            		<li>
	                        <span><i class="icon-plus-sign"></i> TÍTULO III</span>
	                        <ul>
	                        	<li>
			                      <span><a href="#TítuloIII"><i class="icon-plus-sign"></i> Da Defesa do Consumidor em Juízo</span>
			                      <ul>
			                      	<li>
				                      <span><i class="icon-plus-sign"></i> Capítulo I</span>
				                      <ul>
				                      	<li>
					                       <a href="#CapítuloIb"><span><i class="icon-leaf"></i> Disposições Gerais</span></a>
					                    </li>
				                      </ul>
			                        </li>
			                        <li>
				                      <span><i class="icon-plus-sign"></i> Capítulo II</span>
				                      <ul>
				                      	<li>
					                       <a href="#CapítuloIIb"><span><i class="icon-leaf"></i> Das Ações Coletivas Para a Defesa de Interesses Individuais Homogêneos</span></a>
					                    </li>
				                      </ul>
			                        </li>
			                        <li>
				                      <span><i class="icon-plus-sign"></i> Capítulo III</span>
				                      <ul>
				                      	<li>
					                       <a href="#CapítuloIIIb"><span><i class="icon-leaf"></i> Das Ações de Responsabilidade do Fornecedor de Produtos e Serviços</span></a>
					                    </li>
				                      </ul>
			                        </li>
			                        <li>
				                      <span><i class="icon-plus-sign"></i> Capítulo IV</span>
				                      <ul>
				                      	<li>
					                       <a href="#CapítuloVIb"><span><i class="icon-leaf"></i> Da Coisa Julgada</span></a>
					                    </li>
				                      </ul>
			                        </li>
			                      </ul>
			                    </li>
	                        </ul>
	            		</li>
	            		<li>
	                        <span><i class="icon-plus-sign"></i> TÍTULO IV</span>
	                        <ul>
	                        	<li>
			                       <a href="#TítuloIV"><span><i class="icon-leaf"></i> Do Sistema Nacional de Defesa do Consumidor</span></a>
			                    </li>
	                        </ul>
	            		</li>
	            		<li>
	                        <span><i class="icon-plus-sign"></i> TÍTULO V</span>
	                        <ul>
	                        	<li>
			                       <a href="#TítuloV"><span><i class="icon-leaf"></i> Da Convenção Coletiva de Consumo</span></a>
			                    </li>
	                        </ul>
	                    </li>
	                    <li>
	                        <span><i class="icon-plus-sign"></i> TÍTULO VI</span>
	                        <ul>
	                        	<li>
			                       <a href="#TítuloVI"><span><i class="icon-leaf"></i> Disposições Finais</span></a>
			                    </li>
	                        </ul>
	                    </li>
			        </ul>
	            </li>
	        </ul>
	    </div>
	</body>
	</div>
<% end %>
<!-- end _Search for cdc -->
