<!DOCTYPE html>
<meta charset="utf-8">
<html>
<% provide(:title, ' - Proconsulta') %>
<title><%= yield(:title) %></title>   
  <body>
    <head> 
      <%= stylesheet_link_tag "custom" %>
      <%= stylesheet_link_tag    "application", media: "all" %>
      <%= javascript_include_tag "application" %>
      <%= javascript_include_tag "//www.google.com/jsapi" %>
      <%= javascript_include_tag "path/to/highcharts.js", "chartkick" %>
            
      <%= csrf_meta_tags %>
      <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <%= render 'layouts/header' %>
    <%= render 'layouts/shim' %>

    <div class="container" id="yield-container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>      
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>

  </body>
</html>
